<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p><b>Dear [CustomerName],</b></p>
    <p>
        [Message]
    </p>    
    <p>
        <a href="[LinkToOrder]" style="background-color: green; color: white; padding:5px;">Approve and Pay [OutstandingAmount]</a>
    </p>
    <p>
        <b>Best regards,</b><br />
        [UserName]<br />
        Account Manager<br />
        C: 512-808-6710 | O: 512-259-9100 607<br />
        Leander Drive, Suite 100 | Leander, TX 78641<br />
        www.dr-signs.net<br />
    </p>

</body>
</html>